tbody {
  display: flex;
  justify-content: space-between;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  z-index: -1;
}
.logo {

}

.logo_place_header {
position: absolute;
top: 30px;
left: 64px;
}

.logo_place_footer {

}

.header__title {
position: relative;
margin: auto 64px;
width: 730px;
font-size: 102px;
font-weight: 600;
line-height: 96px;
z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 2;
}

.header__link {
color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
display: flex;
position: relative;
flex-direction: column;
}

.content__description {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.content__two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.content__brief {
 position: relative;
top: 10px;
color: #2f80ed;
  display: flex;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.content__main-text {
width: 80%;
min-width: 784px;
justify-content: space-between;
}

.content__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
.content__digits {
  display: flex;
  flex-direction: column;
  padding: 100px auto;
  border: 1px solid rebeccapurple;
  position: relative;
  align-items: center;
}

.digits__title {
width: 60%;
font-size: 60px;
font-weight: 600;
line-height: 1.15;
display: flex;
justify-content: center;
margin: 0;
padding-top: 100px;
}

.digits__subtitle {
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  display: flex;
justify-content: center;
margin: 0;
padding-top: 20px;
}

.digits__table {
  width: 1100px;
  display: flex;
justify-content: center;
flex-direction: column;
padding-top: 60px;
}
.table__cell {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  border: 1px solid rebeccapurple;
    justify-content: flex-start;
    align-items: center;
}
.table__text {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rebeccapurple;
  margin-top: 20px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  border: 1px solid rebeccapurple;
  justify-content: start;
  
}
.content__feynman {
  display: flex;
  min-height: 900px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  border: 1px solid rebeccapurple;
  position: relative;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.feynman__title {
  display: flex;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  width: 648px;
  text-align: center;
  margin: 0;
  margin: 100px auto 70px;
}

.feynman__subtitle {
  display: flex;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 0;
}

.feynman__link {
  display: flex;
  position: absolute;
  right: 0px;
  top: 50%;
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 0;
}

.content__kaufman {
  display: flex;
  flex-direction: column;
  padding: 100px auto;
  border: 1px solid rebeccapurple;
  position: relative;
  align-items: center;
  background-color: #1f1f1f;
  z-index: -1;
}

.kaufman__title {
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 90px;
}

.kaufman__subtitle {
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  display: flex;
justify-content: center;
margin: 0;
padding-top: 20px;
}

.kaufman__title_theme_dark {
  width: 200px;
  color: white;
}

.kaufman__subtitle_theme_dark {
  width: 200px;
  color: white;
}

.kaufman__table_theme_dark {
  width: 1100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  border: 1px solid rebeccapurple;
  justify-content: start;
}

.table__text_theme_dark {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rebeccapurple;
  margin-top: 20px;
}

.footer {

}

