.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  z-index: -2;
}
.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  z-index: 2;
}

.header__title {
  position: relative;
  margin: auto 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 0;
}

.header__square-pic {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
}

.content {

}

.content__description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  border: 1px solid rebeccapurple;
}

.content__two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.content__brief {
  position: relative;
  top: 10px;
  color: #2f80ed;
  display: flex;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.content__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  
}

.content__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.span-accent {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
.content__digits {
  display: flex;
  flex-direction: column;
  border: 1px solid rebeccapurple;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.digits__title {
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  margin: 0;
}

.digits__subtitle {
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table_theme_white {

}
.digits__table {
  width: 1100px;
  display: flex;
  flex-direction: column;
}

.table__body {
  display: flex;
  justify-content: space-between;
}

.table__cell {
  flex-direction: column;
  display: flex;
  border: 1px solid rebeccapurple;
  justify-content: flex-start;
}

.table__cell_theme_white {
  align-items: center;
  width: 250px;
  margin-top: 60px;
}
.table__text {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rebeccapurple;
  margin-top: 20px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  border: 1px solid rebeccapurple;
  justify-content: start;
  margin: 0;
  
}
.content__feynman {
  display: flex;
  min-height: 900px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  border: 1px solid rebeccapurple;
  position: relative;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.feynman__title {
  display: flex;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  width: 648px;
  text-align: center;
  margin: 0;
  margin: 100px auto 70px;
}

.feynman__subtitle {
  display: flex;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 0;
}

.feynman__link {
  display: flex;
  position: absolute;
  right: 0px;
  top: 50%;
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 0;
}

.content__kaufman {
  display: flex;
  flex-direction: column;
  border: 1px solid rebeccapurple;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  z-index: -2;
  overflow: hidden;
  padding: 90px 0;
}

.kaufman__title {
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  margin: 0;
}

.kaufman__subtitle {
width: 60%;
font-size: 24px;
font-weight: normal;
line-height: 34px;
display: flex;
justify-content: center;
margin: 0;
padding-top: 20px;
}

.kaufman__title_theme_dark {
  color: white;
}

.kaufman__subtitle_theme_dark {
  color: white;
}

.table_theme_dark {

}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  text-align: left;
}

.table__text_theme_dark {
  text-align: left;
}

.kaufman__triangle {
background-image: url(../images/kaufman-triangle.svg);
z-index: -1;
position: absolute;
width: 877px;
height: 877px;
top: 0px;
right: -210px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  z-index: -2;
  padding: 60px 0 40px;
}

.footer__column {
  flex-direction: column;
  color: white;
  border: 1px solid rebeccapurple;
}

.footer__columns {
  justify-content: space-between;
  display: flex;
  width: 90%;
  border: 1px solid rebeccapurple;
}

.column_content_copyright {
  flex-basis: 711px;
  display: flex;
  border: 1px solid rebeccapurple;
}


.logo_place_footer {
  background-image: url(../images/.logo_place_footer);
  z-index: 1;
}

.footer__author {

}

.column_content_info {

  display: flex;
  border: 1px solid rebeccapurple;
}

.column_content_social {

  display: flex;
  border: 1px solid rebeccapurple;
}

.footer__column-heading {

}

.footer__column-links {
 padding: 20px 0 16px;
}

.footer__social-icon {

}

.footer__column-link {

}



