.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  z-index: 0;
}
.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  z-index: 3;
}

.header__title {
  position: relative;
  margin: auto 0 auto 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
}

.content {

}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  padding-top: 10px;
  color: #2f80ed;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

.two-columns__paragraph:first-of-type {
  padding-top: 0;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.section-title {
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table-cell {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  width: 250px;
  margin-top: 60px;
}

.table-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 20px;

}

.table-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  margin: 0;
  
}

.feynman {
  display: flex;
  min-height: 890px;
  background:#f2f2f2 url(../images/feynman.png) left bottom no-repeat;
  background-size: 867px 637px;
  position: relative;
  flex-direction: column;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
}

.feynman__title {
  display: flex;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  width: 648px;
  text-align: center;
  margin: 0;
  margin: 100px auto 70px;
}

.feynman__subtitle {
  display: flex;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 0;
}

.feynman__link {
  display: flex;
  position: absolute;
  right: 0px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 0;
}

.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  z-index: 0;
  overflow: hidden;
  padding: 90px 0;
}

.kaufman-title_theme_dark {
  color: white;
  z-index: 2;
}

.kaufman-subtitle_theme_dark {
  color: white;
  z-index: 2;
}

.table_theme_dark {
  z-index: 2;
}

.table-cell_theme_dark {
  width: 200px;
  color: white;
  align-items: flex-start;
  margin-right: 0;
  margin-top: 80px;
}

.table-heading_theme_dark {
  text-align: left;
}

.table-text_theme_dark {
  text-align: left;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  z-index: 1;
  position: absolute;
  width: 877px;
  height: 877px;
  background-size: 877px 877px;
  top: 0px;
  right: -210px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  z-index: 0;
  padding: 60px 0 40px;
  color: white;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__column {
  flex-direction: column;
}

.footer__columns {
  justify-content: space-between;
  display: flex;
  width: 90%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
}


.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  z-index: 1;
}

.footer__author {
  padding: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
}

.footer__column_content_info {
  display: flex;
}

.footer__column_content_social {
  display: flex;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding: 20px 0 16px;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  color: white;
}