.header__title {
    position: relative;
    width: 730px;
    font-size: 102px;
    font-weight: 600;
    line-height: 96px;
    z-index: 3;
    display: flex;
    align-items: center;
    margin: 0;
    left: 64px;
  }